@tailwind base;
@tailwind components;
@tailwind utilities;

/*.bg-opacity-50 {*/
/*    @apply bg-opacity-100;*/
/*}*/

/*.backdrop-blur .backdrop-blur-2xl {*/
/*    @apply backdrop-blur-none*/
/*}*/

/*.rounded-md {*/
/*    @apply rounded-3xl bg-white text-gray-800;*/
/*}*/

/*.rounded-2xl {*/
/*    @apply rounded-lg;*/
/*}*/

/*.rounded-t-2xl {*/
/*    @apply rounded-t-lg;*/
/*}*/

/*.rounded-tl-2xl {*/
/*    @apply rounded-tl-lg;*/
/*}*/

/*.rounded-tr-2xl {*/
/*    @apply rounded-tr-lg*/
/*}*/

/*.rounded-bl-2xl {*/
/*    @apply rounded-bl-lg;*/
/*}*/

/*.rounded-br-2xl {*/
/*    @apply rounded-br-lg;*/
/*}*/

/*.bg-opacity-25 {*/
/*    @apply bg-opacity-100;*/
/*}*/

strong {
    @apply text-gray-900;
}

iframe {
    @apply w-full rounded-3xl;
}

h1, h2, h3, h4, h5 {
    @apply text-gray-900;
}

/*ul {*/
/*    @apply list-disc;*/
/*}*/
